<footer class="p-footer">
	<div class="container">
		<div class="row">
			<div class="col-6 p-footer__panel">
				<h6 class="p-footer__heading">About</h6>
				<ul class="p-footer__list">
					<%= yield %>
				</ul>
			</div>

			<div class="col-6 p-footer__panel p-footer__panel_override">
				<h6 class="p-footer__heading">Legal</h6>
				<ul class="p-footer__list">
					<%= content_tag( 'li', link_to( 'Open Parliament Licence', 'https://www.parliament.uk/site-information/copyright-parliament/open-parliament-licence/' ) ) %>
					<%= content_tag( 'li', link_to( 'Cookie Policy', meta_cookies_url ) ) %>
					<%= content_tag( 'li', link_to( 'Privacy notice', 'https://commonslibrary.parliament.uk/privacy-policy/' ) ) %>
					<%= content_tag( 'li', link_to( 'Accessibility statement', 'https://www.parliament.uk/site-information/accessibility/' ) ) %>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-12 p-footer__panel portcullis p-footer__panel-bottom">
        <p>&copy; UK Parliament <%= Date.today.year %></p>
        <svg class="p-footer__logo">
          <use xlink:href="#p-icon__portcullis"></use>
        </svg>
      </div>
		</div>
	</div>
</footer>

<%= render 'library_design/footer/portcullis' %>