<footer class="p-footer">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="p-footer__wrapper">
					<div class="p-footer__panel p-footer__panel-top">
						<div class="p-footer__panel-top-col">
							<h6 class="p-footer__heading">About this website</h6>
							<ul class="p-footer__list">
							<%= content_tag( 'li', link_to( 'About', meta_list_url ) ) %>
							<%= content_tag( 'li', link_to( 'Contact us', 'mailto:RIIDMSMailbox@parliament.uk' ) ) %>
							</ul>
						</div>
					</div>
				
					<div class="p-footer__panel">
						<h6 class="p-footer__heading">Legal</h6>
						<ul class="p-footer__list">
							<%= content_tag( 'li', link_to( 'Open Parliament Licence', 'https://www.parliament.uk/site-information/copyright-parliament/open-parliament-licence/' ) ) %>
							<%= content_tag( 'li', link_to( 'Cookie Policy', meta_cookies_url ) ) %>
							<%= content_tag( 'li', link_to( 'Privacy notice', 'https://commonslibrary.parliament.uk/privacy-policy/' ) ) %>
							<%= content_tag( 'li', link_to( 'Accessibility statement', 'https://www.parliament.uk/site-information/accessibility/' ) ) %>
						</ul>
					</div>
				
					<div class="p-footer__panel">
					</div>
					
					<div class="p-footer__panel p-footer__panel-bottom">
						<p>&copy; UK Parliament <%= Date.today.year %></p>
						<svg class="p-footer__logo">
							<use xlink:href="#p-icon__portcullis" />
						</svg>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<svg xmlns="http://www.w3.org/2000/svg">
	<symbol id="p-icon__portcullis" viewBox="0 0 32 37">
		<path d="M32 2.462l-3.693 9.846A46.17 46.17 0 0016 10.618c-4.264 0-8.388.608-12.307 1.69L0 2.462h2.899a7.055 7.055 0 00-.437 2.461l2.461-1.23v2.46H2.561c.35 2.124 1.585 3.693 3.054 3.693 1.1 0 2.06-.886 2.621-2.222a1.225 1.225 0 01-.156-1.847 3.617 3.617 0 01-.685-1.7 3.67 3.67 0 01.873-2.868 3.669 3.669 0 011.568 2.555c.082.64-.01 1.26-.234 1.818a1.226 1.226 0 01.222 1.93c.339.409.757.722 1.227.906.06.027.123.047.184.069.062.019.12.044.184.058.164.042.332.07.504.07.012 0 .022-.005.034-.005.014 0 .028.005.043.005 1.7 0 3.077-1.653 3.077-3.692V4.91a3.703 3.703 0 00-2.77 1.245V2.462a3.702 3.702 0 002.77 1.244v-.014h.01c0-1.58-.626-2.945-1.548-3.692h4.923c-.923.747-1.548 2.113-1.548 3.692h.01v.014c1.108 0 2.091-.488 2.768-1.244v3.692a3.703 3.703 0 00-2.768-1.245v.014c0 2.04 1.377 3.692 3.076 3.692.015 0 .029-.005.044-.005.01 0 .021.005.033.005.172 0 .34-.028.504-.07.064-.014.123-.04.185-.059.061-.022.123-.04.183-.068.47-.184.888-.497 1.227-.905a1.23 1.23 0 01.222-1.931 3.616 3.616 0 01-.234-1.818 3.668 3.668 0 011.569-2.555 3.669 3.669 0 01.872 2.868 3.617 3.617 0 01-.685 1.7 1.228 1.228 0 01-.156 1.847c.56 1.336 1.52 2.222 2.62 2.222 1.47 0 2.705-1.569 3.055-3.692h-2.362V3.692l2.461 1.231c0-.901-.166-1.735-.437-2.461H32zM2.461 13.535v23.384C1.03 36.92 0 35.852 0 34.458c0-.945.48-1.73 1.23-2.145v-1.865C.48 30.035 0 29.25 0 28.304c0-.945.48-1.73 1.23-2.145v-1.864C.48 23.88 0 23.095 0 22.15c0-.945.48-1.73 1.23-2.144V18.14C.48 17.727 0 16.94 0 15.996c0-1.394 1.029-2.461 2.461-2.461zM30.77 18.14v1.864c.751.414 1.231 1.2 1.231 2.145 0 .945-.48 1.73-1.23 2.145v1.864c.75.414 1.23 1.2 1.23 2.145 0 .945-.48 1.73-1.23 2.144v1.865c.75.414 1.23 1.2 1.23 2.145 0 1.394-1.029 2.461-2.462 2.461V13.535c1.433 0 2.462 1.067 2.462 2.461 0 .945-.48 1.73-1.23 2.145zm-6.153.32h-2.462V16h2.462v2.462zm0 4.924h-2.462v-2.462h2.462v2.462zm0 4.923h-2.462v-2.462h2.462v2.462zm-4.924-9.846h-2.461V16h2.461v2.462zm0 4.923h-2.461v-2.462h2.461v2.462zm0 4.923h-2.461v-2.462h2.461v2.462zm-4.923-9.846h-2.461V16h2.461v2.462zm0 4.923h-2.461v-2.462h2.461v2.462zm0 4.923h-2.461v-2.462h2.461v2.462zm-4.923-9.846H7.385V16h2.461v2.462zm0 4.923H7.385v-2.462h2.461v2.462zm0 4.923H7.385v-2.462h2.461v2.462zm-4.923-14.77v23.385l2.462-3.692v-2.462h2.461v2.462h-.615v.615l1.846 3.077 1.846-3.077v-.615h-.615v-2.462h2.461v2.462h-.615v.615L16 36.923l1.846-3.077v-.615h-.615v-2.462h2.461v2.462h-.615v.615l1.846 3.077 1.846-3.077v-.615h-.615v-2.462h2.462v2.462l2.46 3.692V13.538H4.924z"/>
	</symbol>
</svg>



