<% if Rails.env.development? -%>
	<div class="debug reading-width">
		<%= content_tag( 'h2', 'Debug' ) %>
		<table class="table key-value">
			<tbody>
				<tr>
					<%= content_tag( 'td', 'Page title' ) %>
					<%= content_tag( 'td', @page_title ) %>
				</tr>
				<tr>
					<%= content_tag( 'td', 'Description' ) %>
					<%= content_tag( 'td', @description ) %>
				</tr>
				<tr>
					<%= content_tag( 'td', 'Next URL' ) %>
					<%= content_tag( 'td', @next_url ) %>
				</tr>
				<tr>
					<%= content_tag( 'td', 'Previous URL' ) %>
					<%= content_tag( 'td', @previous_url ) %>
				</tr>
				<tr>
					<%= content_tag( 'td', 'CSV URL' ) %>
					<%= content_tag( 'td', @csv_url ) %>
				</tr>
				<tr>
					<%= content_tag( 'td', 'RSS URL' ) %>
					<%= content_tag( 'td', @rss_url ) %>
				</tr>
				
				
				
				
				
				
			</tbody>
		</table>
	</div>
<% end -%>